.user {
  width: 100%;
  max-width: 535px;
  height: 91px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &--link {
   margin-right: 15px;
  }
}