@import "../../styles/style";

.user-list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  &__radio-group{
    position: absolute;
    right: 9%;
    top: 39px;
    display: flex;
  }
  &--search-input {
    width: 213px;
    margin-top: 42px;
    margin-bottom: 25px;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
    border-bottom: 1px solid $gray;
    outline: none;
    font-size: 16px;
  }
}