@import '../../styles/style';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $gray-light;

  &--logo {
    display: inline-block;
    margin: 0 15px 0 0;
    text-shadow: 0 1px 1px #000;
    color: #fff;
  }

  &--link {
    margin-right: 10px;
    color: $gray-darker;
  }

  &--active-link {
    color: $brand-info;
  }
}